<mat-toolbar class="bg-lightsteelblue">
  <button mat-icon-button class="d-flex align-items-center" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()">
    <!-- <mat-icon>menu</mat-icon> -->
    <img [src]="opened ? 'icons/menu-1.svg' : 'icons/menu-2.svg'" width="30px" />
  </button>
  <span>My App</span>
  <!-- <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>